name: Unit testing

on:
  workflow_dispatch:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  schedule:
    - cron: "0 0 * * 0"

jobs:
  test:
    name: Unit tests (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        configuration: [Debug]

    env:
      Solution_Name: TechnitiumLibrary.sln

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Restore
        run: dotnet restore "${{ env.Solution_Name }}"

      - name: Build
        run: dotnet build "${{ env.Solution_Name }}" -c "${{ matrix.configuration }}" --no-restore

      - name: Test
        run: dotnet test --no-build --configuration ${{ matrix.configuration }}
